# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/
*.whl

# Environment
.env
.venv
*.env
*.venv
.Python

# Editors
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Log files
*.log
